first_program.py
script_truss.py
Mini_programs/
results_surface.xlsx
results_surface_2.xlsx
results_surface_3.xlsx
results_surface_4.xlsx
results_surface_without_tension.xlsx
results_surface_with_tension_1.xlsx
results_surface_without_tension.xlsx
results_surface_with_tension_other_material.xlsx